<h1>THIS IS AN INDEX FILE</h1>

<div id="post">
  <select id="channelID" name="channelID">
    {{#each channels}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <input id="text" type="text" name="text" placeholder="Type your message">
  <a href="#!" class="btn send-btn">send</a>
</div>

<script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
<script type="text/javascript">
  $('.send-btn').on('click', function(e) {
    e.preventDefault();

    let channelID = $('#channelID').val();
    let text = $('#text').val();

    let post_data = {
      'channelID': channelID,
      'text': text
    }

    $.ajax({
      crossDomain: true,
      method: 'POST',
      url: '/sendMessage',
      async: true,
      data: post_data,
      error: (e) => {
        console.error(e);
      }
    }).done((data) => {
      console.log('done');
    });

  });
</script>
