<header>
  <div class="site-title">
    Creamy Admin Webinterface
  </div>
</header>

<aside class="server-list">

</aside>

<main>
  <div id="chat" class="chat">

  </div>
</main>

<aside class="stats">

</aside>

<div class="user-profile">

</div>

<div class="user-input">
  <div class="selection">
    <div class="option selection--server">
      <select name="serverId" id="serverId">
        {{#each servers}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="option selection--channel">
      <select name="channelId" id="channelId">
        {{#each channels}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="input-bar">
    <input type="text" id="input" name="input" placeholder="Type something">
  </div>

  <div class="btn-group">
    <a href="#!" class="btn send-btn">send</a>
  </div>
</div>
