<h1>THIS IS AN INDEX FILE</h1>

<div id="post">
  <select id="channelID" name="channelID">
    {{#each channels}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <input id="text" type="text" name="text" placeholder="Type your message">
  <a href="#!" class="btn send-btn">send</a>
</div>

<script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var socket = io();

  $('.send-btn').on('click', function(e) {
    e.preventDefault();

    socket.emit('chat message', {message: $('#text').val(), channelID: $('#channelID').val()});
    channelID
    $('#m').val('');
    return false;
  });

  socket.on('some event', () => {
    console.log('asd');
  });

  socket.on('discord message', (msg) => {
    console.log('message sent in discord!!');
    console.log(`message: ${msg}`);
  });
</script>
