html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: grid;
  grid:
  "sidebar header header header" 3rem
  "sidebar main main stats" 1fr
  "sidebar main main stats" 1fr
  "user input input stats" 4rem
  / 70px 1fr 1fr 200px ;
}

header {
  grid-area: header;
  background: $main;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid $dark;

  .site-title {
    color: lighten($typo, 20%);
    font-weight: $fw-normal;
  }
}

aside.sidebar {
  grid-area: sidebar;
  background: $dark;
  display: flex;
  flex-direction: column;

  ul.server-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    padding: 1rem .5rem;
    list-style: none;

    li {
      position: relative;
      display: block;
      width: 100%;

      &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: (1 / 1) * 100%;
      }

      + li {
        margin-top: 1rem;
      }

      &.break {
        background: $shade;
        display: block;
        height: 2px;
        width: 30px;
        align-self: center;
      }

      &.logo {
        z-index: 0;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 50%;
          transition: opacity .25s $cubic, transform .25s $cubic;
          z-index: -1;
        }

        &.online {
          &:after {
            background: $success;
            animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
          }
        }
        &.offline {
          &:after {
            background: $error;
            animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
          }

          a {
            img {
              filter: saturate(0);
            }
          }
        }
      }

      a {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 50%;
        overflow: hidden;

        > img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}

main {
  grid-area: main;
  background: $main;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .message {
    background: $shade;
    border-radius: $br;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;

    &__details {
      font-size: .6rem;
      color: darken($typo, 5%);
      margin-bottom: .5rem;
    }

    &__channel {
      color: $accent;
    }

    &__text {

    }
  }
}

aside.stats {
  grid-area: stats;
  background: $shade;
}

.user-profile {
  grid-area: user;
  background: $dark;
}

.user-input {
  grid-area: input;
  background: $shade;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  > div {
    + div {
      margin-left: 2rem;
    }
  }

  .selection {
    display: flex;
    flex-direction: row;

    .option {

      + .option {
        margin-left: 1rem;
      }
    }
  }

  .input-bar {
    flex: 1;
    display: flex;
    flex-direction: row;

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .emoji-wrap {
      position: relative;

      .emoji-btn {
        position: relative;
        width: 2rem;
        height: 2rem;
        background: $light;
        border-top-right-radius: $br;
        border-bottom-right-radius: $br;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background .25s $cubic;

        &:hover {
          background: lighten($light, 5%);
        }

        &:before {
          content: '';
          position: absolute;
          width: 2px;
          height: 1rem;
          left: -1px;
          top: 50%;
          background: lighten($light, 10%);
          transform: translateY(-50%);
        }
      }

      .emoji-box {
        position: absolute;
        right: 0;
        bottom: calc(100% + 1rem);
        background: $light;
        display: none;

        &.open {
          display: block;
        }

        .emoji-list {
          margin: 0;
          padding: .5rem;
          list-style: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-content: flex-start;
          width: 9rem;
          height: 9rem;

          li {
            width: 2rem;
            height: 2rem;
            transition: background .25s $cubic;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
              background: rgba(0,0,0,.1);
            }
          }
        }
      }
    }
  }
}


/*
* General Styles
*/
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: darken($shade, 4%);
  border: 1px solid $dark;
  border-radius: $br;
  color: lighten($typo, 10%);
  transition: background .25s $cubic;
  height: 2rem;
  padding: 0 1rem;
  font-size: .8rem;
  font-weight: $fw-normal;

  &:hover {
    background: darken($shade, 2%);
  }

  &:active {
    background: darken($shade, 6%);
  }
}

select {
  background: $main;
  border-radius: $br;
  border: 1px solid $dark;
  height: 2rem;
  padding: 0 .5rem;

  &:active, &:focus {
    outline: none;
  }
}

input[type='text'] {
  background: $light;
  height: 2rem;
  border: none;
  border-radius: $br;
  color: lighten($typo, 10%);
  padding: 0 1rem;
  width: 100%;
  font-size: .8rem;

  &::placeholder {
    color: $typo;
  }

  &:active, &:focus {
    outline: none;
  }
}
